@font-face {
  font-family: "SF Display";
  font-weight: 900;
  src: url("https://sf.abarba.me/SF-UI-Display-Black.otf");
}

/** Bold */
@font-face {
  font-family: "SF Display";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Display-Bold.otf");
}

/** Heavy */
@font-face {
  font-family: "SF Display";
  font-weight: 800;
  src: url("https://sf.abarba.me/SF-UI-Display-Heavy.otf");
}

/** Light */
@font-face {
  font-family: "SF Display";
  font-weight: 200;
  src: url("https://sf.abarba.me/SF-UI-Display-Light.otf");
}

/** Medium */
@font-face {
  font-family: "SF Display";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Display-Medium.otf");
}

/** Regular */
@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}

/** Semibold */
@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Display-Semibold.otf");
}

/** Thin */
@font-face {
  font-family: "SF Display";
  font-weight: 300;
  src: url("https://sf.abarba.me/SF-UI-Display-Thin.otf");
}

/** Ultralight */
@font-face {
  font-family: "SF Display";
  font-weight: 100;
  src: url("https://sf.abarba.me/SF-UI-Display-Ultralight.otf");
}

/*---------------------------------------------------------------------------*
 * SF UI Text
 *---------------------------------------------------------------------------*/

/** Bold */
@font-face {
  font-family: "SF Text";
  font-weight: 700;
  src: url("https://sf.abarba.me/SF-UI-Text-Bold.otf");
}

/** Bold Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 700;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-BoldItalic.otf");
}

/** Heavy */
@font-face {
  font-family: "SF Text";
  font-weight: 800;
  src: url("https://sf.abarba.me/SF-UI-Text-Heavy.otf");
}

/** Heavy Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 800;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-HeavyItalic.otf");
}

/** Light */
@font-face {
  font-family: "SF Text";
  font-weight: 200;
  src: url("https://sf.abarba.me/SF-UI-Text-Light.otf");
}

/** Light Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 200;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-LightItalic.otf");
}

/** Medium */
@font-face {
  font-family: "SF Text";
  font-weight: 500;
  src: url("https://sf.abarba.me/SF-UI-Text-Medium.otf");
}

/** Medium Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 500;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-MediumItalic.otf");
}

/** Regular */
@font-face {
  font-family: "SF Text";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Text-Regular.otf");
}

/** Regular Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 400;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-RegularItalic.otf");
}

/** Semibold */
@font-face {
  font-family: "SF Text";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Text-Semibold.otf");
}

/** Semibold Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 600;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-SemiboldItalic.otf");
}

/** Ultrathin */
@font-face {
  font-family: "SF Text";
  font-weight: 100;
  src: url("https://sf.abarba.me/SF-UI-Text-Ultrathin.otf");
}

/** Ultrathin Italic */
@font-face {
  font-family: "SF Text";
  font-weight: 100;
  font-style: italic;
  src: url("https://sf.abarba.me/SF-UI-Text-UltrathinItalic.otf");
}

/*---------------------------------------------------------------------------*
 * SF Mono
 *---------------------------------------------------------------------------*/

/** Bold */
@font-face {
  font-family: "SF Mono";
  font-weight: 700;
  src: url("https://sf.abarba.me/SFMono-Bold.otf");
}

/** Bold Italic */
@font-face {
  font-family: "SF Mono";
  font-weight: 700;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-BoldItalic.otf");
}

/** Heavy */
@font-face {
  font-family: "SF Mono";
  font-weight: 800;
  src: url("https://sf.abarba.me/SFMono-Heavy.otf");
}

/** Heavy Italic */
@font-face {
  font-family: "SF Mono";
  font-weight: 800;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-HeavyItalic.otf");
}

/** Light */
@font-face {
  font-family: "SF Mono";
  font-weight: 200;
  src: url("https://sf.abarba.me/SFMono-Light.otf");
}

/** Light Italic */
@font-face {
  font-family: "SF Mono";
  font-weight: 200;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-LightItalic.otf");
}

/** Medium */
@font-face {
  font-family: "SF Mono";
  font-weight: 500;
  src: url("https://sf.abarba.me/SFMono-Medium.otf");
}

/** Medium Italic */
@font-face {
  font-family: "SF Mono";
  font-weight: 500;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-MediumItalic.otf");
}

/** Regular */
@font-face {
  font-family: "SF Mono";
  font-weight: 400;
  src: url("https://sf.abarba.me/SFMono-Regular.otf");
}

/** Regular Italic */
@font-face {
  font-family: "SF Mono";
  font-weight: 400;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-RegularItalic.otf");
}

/** Semibold */
@font-face {
  font-family: "SF Mono";
  font-weight: 600;
  src: url("https://sf.abarba.me/SFMono-Semibold.otf");
}

/** Semibold Italic */
@font-face {
  font-family: "SF Mono";
  font-weight: 600;
  font-style: italic;
  src: url("https://sf.abarba.me/SFMono-SemiboldItalic.otf");
}


/*  SF COMPACT DISPLAY  */

@font-face {
  font-family: 'SF-Compact-Display';
  src: url(/fonts/SF-Compact-Display/SF-Compact-Display-Regular.otf) format("opentype") ;
}
@font-face {
  font-family: 'SF-Compact-Display';
  src: url(/fonts/SF-Compact-Display/SF-Compact-Display-Black.otf) format("opentype") ;
  font-style: black;
}
@font-face {
  font-family: 'SF-Compact-Display';
  src: url(/fonts/SF-Compact-Display/SF-Compact-Display-Bold.otf) format("opentype") ;
  font-style: bold;
}
@font-face {
  font-family: 'SF-Compact-Display';
  src: url(/fonts/SF-Compact-Display/SF-Compact-Display-Heavy.otf) format("opentype") ;
  font-style: heavy;
}
@font-face {
  font-family: 'SF-Compact-Display';
  src: url(/fonts/SF-Compact-Display/SF-Compact-Display-Light.otf) format("opentype") ;
  font-style: light;
}
@font-face {
  font-family: 'SF-Compact-Display';
  src: url(/fonts/SF-Compact-Display/SF-Compact-Display-Medium.otf) format("opentype") ;
  font-style: medium;
}
@font-face {
  font-family: 'SF-Compact-Display';
  src: url(/fonts/SF-Compact-Display/SF-Compact-Display-Semibold.otf) format("opentype") ;
  font-style: semibold;
}
@font-face {
  font-family: 'SF-Compact-Display';
  src: url(/fonts/SF-Compact-Display/SF-Compact-Display-Thin.otf) format("opentype") ;
  font-style: thin;
}
@font-face {
  font-family: 'SF-Compact-Display';
  src: url(/fonts/SF-Compact-Display/SF-Compact-Display-Ultralight.otf) format("opentype") ;
  font-style: ultralight;
}

/* SF COMPACT ROUNDED */

@font-face {
  font-family: 'SF-Compact-Rounded';
  src: url(/fonts/SF-Compact-Rounded/SF-Compact-Rounded-Regular.otf) format("opentype") ;
}
@font-face {
  font-family: 'SF-Compact-Rounded';
  src: url(/fonts/SF-Compact-Rounded/SF-Compact-Rounded-Black.otf) format("opentype") ;
  font-style: Black;
}
@font-face {
  font-family: 'SF-Compact-Rounded';
  src: url(/fonts/SF-Compact-Rounded/SF-Compact-Rounded-Bold.otf) format("opentype") ;
  font-style: Bold;
}
@font-face {
  font-family: 'SF-Compact-Rounded';
  src: url(/fonts/SF-Compact-Rounded/SF-Compact-Rounded-Heavy.otf) format("opentype") ;
  font-style: heavy;
}
@font-face {
  font-family: 'SF-Compact-Rounded';
  src: url(/fonts/SF-Compact-Rounded/SF-Compact-Rounded-Light.otf) format("opentype") ;
  font-style: light;
}
@font-face {
  font-family: 'SF-Compact-Rounded';
  src: url(/fonts/SF-Compact-Rounded/SF-Compact-Rounded-Medium.otf) format("opentype") ;
  font-style: medium;
}
@font-face {
  font-family: 'SF-Compact-Rounded';
  src: url(/fonts/SF-Compact-Rounded/SF-Compact-Rounded-Semibold.otf) format("opentype") ;
  font-style: semibold;
}
@font-face {
  font-family: 'SF-Compact-Rounded';
  src: url(/fonts/SF-Compact-Rounded/SF-Compact-Rounded-Thin.otf) format("opentype") ;
  font-style: thin;
}
@font-face {
  font-family: 'SF-Compact-Rounded';
  src: url(/fonts/SF-Compact-Rounded/SF-Compact-Rounded-Ultralight.otf) format("opentype") ;
  font-style: ultralight;
}



/* SF COMPACT TEXT */

@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-Regular.otf) format("opentype");
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-Black.otf) format("opentype");
  font-style: Black;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-BlackItalic.otf) format("opentype");
  font-style: Blackitalic;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-Bold.otf) format("opentype");
  font-style: Bold;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-BoldItalic.otf) format("opentype");
  font-style: Bolditalic;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-Heavy.otf) format("opentype");
  font-style: Heavy;

}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-HeavyItalic.otf) format("opentype");
  font-style: Heavyitalic;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-Light.otf) format("opentype");
  font-style: Light;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-LightItalic.otf) format("opentype");
  font-style: Lightitalic;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-Medium.otf) format("opentype");
  font-style: Medium;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-MediumItalic.otf) format("opentype");
  font-style: Mediumitalic;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-RegularItalic.otf) format("opentype");
  font-style: RegularItalic;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-Semibold.otf) format("opentype");
  font-style: semibold;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-SemiboldItalic.otf) format("opentype");
  font-style: Semibolditalic;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-Thin.otf) format("opentype");
  font-style: Thin;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-ThinItalic.otf) format("opentype");
  font-style: ThinItalic;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-Ultralight.otf) format("opentype");
  font-style: Ultralight;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-UltralightItalic.otf) format("opentype");
  font-style: UltralightItalic;
}
/* SF PRO DISPLAY */


@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-Regular.otf) format("opentype");
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-Black.otf) format("opentype");
  font-style: Black;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-BlackItalic.otf) format("opentype");
  font-style: Blackitalic;
}

@font-face {
  font-family: 'SF-Pro-Display';
  src: url(http://homestead.fbartworks.de/fonts/SF-Pro-Display/SF-Pro-Display-Bold.otf) format("opentype");
  font-style: Bold;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-BoldItalic.otf) format("opentype");
  font-style: Bolditalic;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-Heavy.otf) format("opentype");
  font-style: Heavy;

}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-HeavyItalic.otf) format("opentype");
  font-style: Heavyitalic;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-Light.otf) format("opentype");
  font-style: 'Light';
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-LightItalic.otf) format("opentype");
  font-style: Lightitalic;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-Medium.otf) format("opentype");
  font-style: Medium;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-MediumItalic.otf) format("opentype");
  font-style: Mediumitalic;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-RegularItalic.otf) format("opentype");
  font-style: RegularItalic;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-Semibold.otf) format("opentype");
  font-style: semibold;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-SemiboldItalic.otf) format("opentype");
  font-style: Semibolditalic;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-Thin.otf) format("opentype");
  font-style: Thin;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-ThinItalic.otf) format("opentype");
  font-style: ThinItalic;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-Ultralight.otf) format("opentype");
  font-style: Ultralight;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-UltralightItalic.otf) format("opentype");
  font-style: UltralightItalic;
}

/* SF PRO TEXT */

@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-Regular.otf) format("opentype");
  font-style: regular;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-Black.otf) format("opentype");
  font-style: Black;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-BlackItalic.otf) format("opentype");
  font-style: Blackitalic;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-Bold.otf) format("opentype");
  font-weight: Bold;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-BoldItalic.otf) format("opentype");
  font-style: Bolditalic;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-Heavy.otf) format("opentype");
  font-style: Heavy;

}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-HeavyItalic.otf) format("opentype");
  font-style: Heavyitalic;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-Light.otf) format("opentype");
  font-weight: lighter;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-LightItalic.otf) format("opentype");
  font-style: Lightitalic;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-Medium.otf) format("opentype");
  font-style: Medium;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-MediumItalic.otf) format("opentype");
  font-style: Mediumitalic;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-RegularItalic.otf) format("opentype");
  font-style: RegularItalic;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-Semibold.otf) format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-SemiboldItalic.otf) format("opentype");
  font-style: Semibolditalic;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-Thin.otf) format("opentype");
  font-style: Thin;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-ThinItalic.otf) format("opentype");
  font-style: ThinItalic;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-Ultralight.otf) format("opentype");
  font-style: Ultralight;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-UltralightItalic.otf) format("opentype");
  font-style: UltralightItalic;
}
/* SF PRO ROUNDED */

@font-face {
  font-family: 'SF-Pro-Rounded';
  src: url(/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Regular.otf) format("opentype") ;
}
@font-face {
  font-family: 'SF-Pro-Rounded';
  src: url(/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Black.otf) format("opentype") ;
  font-style: black;
}
@font-face {
  font-family: 'SF-Pro-Rounded';
  src: url(/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Bold.otf) format("opentype") ;
  font-style: bold;
}
@font-face {
  font-family: 'SF-Pro-Rounded';
  src: url(/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Heavy.otf) format("opentype") ;
  font-style: heavy;
}
@font-face {
  font-family: 'SF-Pro-Rounded';
  src: url(/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Light.otf) format("opentype") ;
  font-style: light;
}
@font-face {
  font-family: 'SF-Pro-Rounded';
  src: url(/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Medium.otf) format("opentype") ;
  font-style: medium;
}
@font-face {
  font-family: 'SF-Pro-Rounded';
  src: url(/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Semibold.otf) format("opentype") ;
  font-style: semibold;
}
@font-face {
  font-family: 'SF-Pro-Rounded';
  src: url(/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Thin.otf) format("opentype") ;
  font-style: thin;
}
@font-face {
  font-family: 'SF-Pro-Rounded';
  src: url(/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Ultralight.otf) format("opentype") ;
  font-style: ultralight;
}
