#navigation{
  background-color:rgb(0, 0, 0) ;
}
#hero{
  background-color:rgb(0,0,0);
}
#announcements{
  background-color:rgba(44, 44, 44, 1)
}
#footer{
  background-color:rgba(78, 78, 78, 1);
}
body{
  margin: 0;
  padding: 0;
}
nav{
  height: 44px;
  background: #000;
}
.menu{
  position: relative;
  margin: 0 auto;
  width: 1200px;
  overflow: hidden;
}
.menu ul{
  width: 100%;
  margin: 0;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
}
.menu ul li{
  list-style: none;
}
.menu ul li,
.menu ul li a{
  color: #fff;
  line-height: 44px;
  text-decoration: none;
}

/*  CSS Search Script
.menu ul li a.menu-site{
  transform: scale(1);
  transition: 0.5s;
  display: block;
}
.menu ul li a.menu-site.hide-item{
  transform: scale(0);
}
*/
.hero-content{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hero-content img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.learn-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.learn-more-arrow{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header{
  background-color: rgb(0,0,0)
}

h1{
  color: rgb(252, 105, 96)
  font: Bold 60px/71px SF Pro Display;
}
.hero-section{
  background-color: rgb(0,0,0);
}
.impact-section{
  background-color: #404040;
}
.menu-left{
  background-color:rgb(0,0,0)
}
.partner-box{
  height: 322px;
  width: 322px;
  border: 1px solid #707070;
}
.leadership-box{
  width: 16.25em;
  height: 16.25em;
  border-radius: 15px;
  border: 1px solid #070707;
}
footer{
  background-color: rgba(78, 78, 78, 1)
}
.hero-lead-section{
  background-color: rgb(0, 0, 0);
}
.video{
  background-color: rgb(0,0,0);
}
.trailer{
  max-height: 720px;
  width: 1280px;
}
.discord-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.name-field{
  width: 456px;
  height: 64px;
  border: 1px solid #707070;
}
.mail-field{
  width: 564px;
  height: 64px;
  border: 1px solid #707070;
}
.message-field{
  width: 644px;
  height: 200px;
  border: 1px solid #707070;
}
