
/*  SF COMPACT DISPLAY  */

@font-face {
  font-family: 'SF-Compact-Display';
  src: url(/fonts/SF-Compact-Display/SF-Compact-Display-Regular.otf) format("opentype") ;
}
@font-face {
  font-family: 'SF-Compact-Display';
  src: url(/fonts/SF-Compact-Display/SF-Compact-Display-Black.otf) format("opentype") ;
  font-style: black;
}
@font-face {
  font-family: 'SF-Compact-Display';
  src: url(/fonts/SF-Compact-Display/SF-Compact-Display-Bold.otf) format("opentype") ;
  font-style: bold;
}
@font-face {
  font-family: 'SF-Compact-Display';
  src: url(/fonts/SF-Compact-Display/SF-Compact-Display-Heavy.otf) format("opentype") ;
  font-style: heavy;
}
@font-face {
  font-family: 'SF-Compact-Display';
  src: url(/fonts/SF-Compact-Display/SF-Compact-Display-Light.otf) format("opentype") ;
  font-style: light;
}
@font-face {
  font-family: 'SF-Compact-Display';
  src: url(/fonts/SF-Compact-Display/SF-Compact-Display-Medium.otf) format("opentype") ;
  font-style: medium;
}
@font-face {
  font-family: 'SF-Compact-Display';
  src: url(/fonts/SF-Compact-Display/SF-Compact-Display-Semibold.otf) format("opentype") ;
  font-style: semibold;
}
@font-face {
  font-family: 'SF-Compact-Display';
  src: url(/fonts/SF-Compact-Display/SF-Compact-Display-Thin.otf) format("opentype") ;
  font-style: thin;
}
@font-face {
  font-family: 'SF-Compact-Display';
  src: url(/fonts/SF-Compact-Display/SF-Compact-Display-Ultralight.otf) format("opentype") ;
  font-style: ultralight;
}

/* SF COMPACT ROUNDED */

@font-face {
  font-family: 'SF-Compact-Rounded';
  src: url(/fonts/SF-Compact-Rounded/SF-Compact-Rounded-Regular.otf) format("opentype") ;
}
@font-face {
  font-family: 'SF-Compact-Rounded';
  src: url(/fonts/SF-Compact-Rounded/SF-Compact-Rounded-Black.otf) format("opentype") ;
  font-style: Black;
}
@font-face {
  font-family: 'SF-Compact-Rounded';
  src: url(/fonts/SF-Compact-Rounded/SF-Compact-Rounded-Bold.otf) format("opentype") ;
  font-style: Bold;
}
@font-face {
  font-family: 'SF-Compact-Rounded';
  src: url(/fonts/SF-Compact-Rounded/SF-Compact-Rounded-Heavy.otf) format("opentype") ;
  font-style: heavy;
}
@font-face {
  font-family: 'SF-Compact-Rounded';
  src: url(/fonts/SF-Compact-Rounded/SF-Compact-Rounded-Light.otf) format("opentype") ;
  font-style: light;
}
@font-face {
  font-family: 'SF-Compact-Rounded';
  src: url(/fonts/SF-Compact-Rounded/SF-Compact-Rounded-Medium.otf) format("opentype") ;
  font-style: medium;
}
@font-face {
  font-family: 'SF-Compact-Rounded';
  src: url(/fonts/SF-Compact-Rounded/SF-Compact-Rounded-Semibold.otf) format("opentype") ;
  font-style: semibold;
}
@font-face {
  font-family: 'SF-Compact-Rounded';
  src: url(/fonts/SF-Compact-Rounded/SF-Compact-Rounded-Thin.otf) format("opentype") ;
  font-style: thin;
}
@font-face {
  font-family: 'SF-Compact-Rounded';
  src: url(/fonts/SF-Compact-Rounded/SF-Compact-Rounded-Ultralight.otf) format("opentype") ;
  font-style: ultralight;
}



/* SF COMPACT TEXT */

@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-Regular.otf) format("opentype");
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-Black.otf) format("opentype");
  font-style: Black;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-BlackItalic.otf) format("opentype");
  font-style: Blackitalic;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-Bold.otf) format("opentype");
  font-style: Bold;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-BoldItalic.otf) format("opentype");
  font-style: Bolditalic;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-Heavy.otf) format("opentype");
  font-style: Heavy;

}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-HeavyItalic.otf) format("opentype");
  font-style: Heavyitalic;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-Light.otf) format("opentype");
  font-style: Light;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-LightItalic.otf) format("opentype");
  font-style: Lightitalic;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-Medium.otf) format("opentype");
  font-style: Medium;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-MediumItalic.otf) format("opentype");
  font-style: Mediumitalic;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-RegularItalic.otf) format("opentype");
  font-style: RegularItalic;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-Semibold.otf) format("opentype");
  font-style: semibold;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-SemiboldItalic.otf) format("opentype");
  font-style: Semibolditalic;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-Thin.otf) format("opentype");
  font-style: Thin;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-ThinItalic.otf) format("opentype");
  font-style: ThinItalic;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-Ultralight.otf) format("opentype");
  font-style: Ultralight;
}
@font-face {
  font-family: 'SF-Compact-Text';
  src: url(/fonts/SF-Compact-Text/SF-Compact-Text-UltralightItalic.otf) format("opentype");
  font-style: UltralightItalic;
}
/* SF PRO DISPLAY */


@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-Regular.otf) format("opentype");
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-Black.otf) format("opentype");
  font-style: Black;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-BlackItalic.otf) format("opentype");
  font-style: Blackitalic;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-Bold.otf) format("opentype");
  font-style: Bold;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-BoldItalic.otf) format("opentype");
  font-style: Bolditalic;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-Heavy.otf) format("opentype");
  font-style: Heavy;

}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-HeavyItalic.otf) format("opentype");
  font-style: Heavyitalic;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-Light.otf) format("opentype");
  font-style: 'Light';
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-LightItalic.otf) format("opentype");
  font-style: Lightitalic;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-Medium.otf) format("opentype");
  font-style: Medium;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-MediumItalic.otf) format("opentype");
  font-style: Mediumitalic;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-RegularItalic.otf) format("opentype");
  font-style: RegularItalic;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-Semibold.otf) format("opentype");
  font-style: semibold;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-SemiboldItalic.otf) format("opentype");
  font-style: Semibolditalic;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-Thin.otf) format("opentype");
  font-style: Thin;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-ThinItalic.otf) format("opentype");
  font-style: ThinItalic;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-Ultralight.otf) format("opentype");
  font-style: Ultralight;
}
@font-face {
  font-family: 'SF-Pro-Display';
  src: url(/fonts/SF-Pro-Display/SF-Pro-Display-UltralightItalic.otf) format("opentype");
  font-style: UltralightItalic;
}

/* SF PRO TEXT */

@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-Regular.otf) format("opentype");
  font-style: regular;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-Black.otf) format("opentype");
  font-style: Black;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-BlackItalic.otf) format("opentype");
  font-style: Blackitalic;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-Bold.otf) format("opentype");
  font-weight: Bold;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-BoldItalic.otf) format("opentype");
  font-style: Bolditalic;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-Heavy.otf) format("opentype");
  font-style: Heavy;

}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-HeavyItalic.otf) format("opentype");
  font-style: Heavyitalic;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-Light.otf) format("opentype");
  font-weight: lighter;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-LightItalic.otf) format("opentype");
  font-style: Lightitalic;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-Medium.otf) format("opentype");
  font-style: Medium;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-MediumItalic.otf) format("opentype");
  font-style: Mediumitalic;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-RegularItalic.otf) format("opentype");
  font-style: RegularItalic;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-Semibold.otf) format("opentype");
  font-style: semibold;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-SemiboldItalic.otf) format("opentype");
  font-style: Semibolditalic;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-Thin.otf) format("opentype");
  font-style: Thin;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-ThinItalic.otf) format("opentype");
  font-style: ThinItalic;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-Ultralight.otf) format("opentype");
  font-style: Ultralight;
}
@font-face {
  font-family: 'SF-Pro-Text';
  src: url(/fonts/SF-Pro-Text/SF-Pro-Text-UltralightItalic.otf) format("opentype");
  font-style: UltralightItalic;
}
/* SF PRO ROUNDED */

@font-face {
  font-family: 'SF-Pro-Rounded';
  src: url(/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Regular.otf) format("opentype") ;
}
@font-face {
  font-family: 'SF-Pro-Rounded';
  src: url(/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Black.otf) format("opentype") ;
  font-style: black;
}
@font-face {
  font-family: 'SF-Pro-Rounded';
  src: url(/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Bold.otf) format("opentype") ;
  font-style: bold;
}
@font-face {
  font-family: 'SF-Pro-Rounded';
  src: url(/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Heavy.otf) format("opentype") ;
  font-style: heavy;
}
@font-face {
  font-family: 'SF-Pro-Rounded';
  src: url(/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Light.otf) format("opentype") ;
  font-style: light;
}
@font-face {
  font-family: 'SF-Pro-Rounded';
  src: url(/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Medium.otf) format("opentype") ;
  font-style: medium;
}
@font-face {
  font-family: 'SF-Pro-Rounded';
  src: url(/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Semibold.otf) format("opentype") ;
  font-style: semibold;
}
@font-face {
  font-family: 'SF-Pro-Rounded';
  src: url(/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Thin.otf) format("opentype") ;
  font-style: thin;
}
@font-face {
  font-family: 'SF-Pro-Rounded';
  src: url(/fonts/SF-Pro-Rounded/SF-Pro-Rounded-Ultralight.otf) format("opentype") ;
  font-style: ultralight;
}

/* ##################################### */


/*#####################################
  #####################################
  #####################################
  #####################################*/

@media (max-width: 1920px) {
  .hero{
    height: 1080px;
  }
}

#navigation{
  background-color:rgb(0, 0, 0) ;
}
#hero{
  background-color:rgb(25,0,0);
  height: 100%;
}
#announcements{
  background-color:rgba(44, 44, 44, 1)
}
#footer{
  background-color:rgba(78, 78, 78, 1);
}
body{
  margin: 0;
  padding: 0;
}
nav{
  height: 44px;
  background: #000;
}

.menu{
  position: relative;
  margin: 0 auto;
  width: 1200px;
  overflow: hidden;
}
.menu ul{
  width: 100%;
  margin: 0;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
}
.menu ul li{
  list-style: none;
}
.menu ul li,
.menu ul li a{
  color: #fff;
  line-height: 44px;
  text-decoration: none;
}

/*  CSS Search Script
.menu ul li a.menu-site{
  transform: scale(1);
  transition: 0.5s;
  display: block;
}
.menu ul li a.menu-site.hide-item{
  transform: scale(0);
}
*/
.hero-content{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hero-content img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.learn-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.learn-more-arrow{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.hero{
  background-color:rgb(25,0,0);
  height: 1080px;
}
.hero-content{
  margin-top: 150px;
  margin-bottom: 530px;
}
.hero-line{
  margin: 0 auto;
  position: relative;
  padding: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.hero-line h3{
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
.learn-more{
  margin: 0 auto;
  padding-top: 130px;
  font: Regular 22px/26px SF Pro Text;
}
.learn-more a{
  font-family: SF-Pro-Display;
  text-decoration: none;
}
.learn-more h4{
  font-family: SF-Pro-Text;
  font-size: 30px;
  font-style: Medium;
  text-decoration: none;
  color: #FFFFFF;
}
.learn-more svg{
  margin: 0 auto;
}
.about{
  margin-top: 60px;
  margin-bottom: 60px;
}
.about-sub{
  font: Bold 30px/36px SF Pro Text;
  color: #C6C6C6;
}
.about h3{
  font: Semibold 400px SF Pro Rounded;
}
.about p{
  padding-top: 40px;
  font: 22px/26px SF Pro Text;
}
.leadership-cta{
  margin: 0 auto;
  position: relative;
  padding-top: 30px;
  padding-bottom: 20px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.leadership-cta h3 {
  margin: 0 auto;
}
.logo{
  margin-right: auto;
  margin-left: 4.5%;
  margin-top: 145px;
}
.discord-cta{
  margin-right: auto;
  margin-left: auto;
  margin-top: 45px;
}
.discord-cta img{
  margin-right: 10px;
  margin-left: 10%;
}
.discord-button{
  border: 2px solid #2288BB;
  border-radius: 50px;
  background-color: #FFFFFF
}
.discord-button h3{
padding: 13px 27px 13px 27px;

}
.announcement{
  height: 550px;
}

.announcement-logo{
  padding-top: 50px;
  margin: 0 auto;
}
.announcement-text h1{
  margin-top: 125px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.announcement-text h4{
  padding-top: 20px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.announcement-cta a{
  padding-top: 20px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

header{
  background-color: rgb(0,0,0)
}

h1{
  color: rgb(252, 105, 96)
  font: Bold 60px/71px SF Pro Display;
}
.hero-section{
  background-color: rgb(0,0,0);
}
.impact-section{
  background-color: #404040;
}
.menu-left{
  background-color:rgb(0,0,0)
}
.partner-box{
  height: 322px;
  width: 322px;
  border: 1px solid #707070;
}
.leadership-box{
  width: 16.25em;
  height: 16.25em;
  border-radius: 15px;
  border: 1px solid #070707;
}
footer{
  background-color: rgba(78, 78, 78, 1)
}
.hero-lead-section{
  background-color: rgb(0, 0, 0);
}
.video{
  background-color: rgb(0,0,0);
}
.trailer{
  max-height: 720px;
  width: 1280px;
}

.name-field{
  width: 456px;
  height: 64px;
  border: 1px solid #707070;
}
.mail-field{
  width: 564px;
  height: 64px;
  border: 1px solid #707070;
}
.message-field{
  width: 644px;
  height: 200px;
  border: 1px solid #707070;
}
